#myTextarea{
  font-size: 16px;
  line-height: 20px;
  padding: 30px;
}
.string { color: #F35888; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: white; }
pre {
  background-color: black;
}
